{{extend 'layout.html'}}
<!--HTML Page to handle showing the users that the logged user follows. -->
{{block head}}
  <link rel="stylesheet" type="text/css" href="{{=URL('static','css/loginpg.css')}}" />
{{end}}

{{for user in following:}}
    {{if user.follows.followees:}}
        {{if user.follows.followees != auth.user_id and user.follows.followers == auth.user_id:}}
            <div class="row">
            <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof', args=user.auth_user.id))}}</div>
            <div class="span">
            <button onclick="ajax('{{=URL('follow',args=('unfollow',user.auth_user.id))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button>
            </div>
            </div>
        {{pass}}
    {{pass}}
{{pass}}
