{{extend 'layout.html'}}
<!--HTML Page to handle showing the users followers, as of right now, this serves no purpose as we removed it. -->
{{for user in followers:}}
    {{if user.follows.followees == auth.user_id:}}
        <div class="row">
        <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof', args=user.auth_user.id))}}</div>
        <div class="span">
        {{if auth.user_id == user.follows.followees:}}
            <button onclick="ajax('{{=URL('follow',args=('unfollow',user.auth_user.id))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button>
        {{else:}}
            <button onclick="ajax('{{=URL('follow',args=('follow',user.auth_user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>
        {{pass}}
        </div>
        </div>
    {{pass}}
{{pass}}
