{{extend 'layout.html'}}
<!--HTML Page to handle showing the home page which includes the users profile and the tweets they have made. It would be nice to eventually add privacy settings -->
<div style="color:black;">
{{=form}}
</div>
{{count = 0}}
<script>$('textarea').css('width', '500px').css('height', '40px'); </script>
{{for tweeter in tweeters:}}
    {{if count % 2 == 0:}}
        <div style="color:black; border-style:solid; border-color:black; margin-bottom: 3px; padding: 6px">
        {{count = count+1}}
    {{else:}}
        <div style="color:black; border-style:solid; border-color:white; margin-bottom: 3px; padding: 6px">
        {{count = count+1}}
    {{pass}}
    <h5>{{=name_of(tweeter.author)}} on {{=tweeter.date_posted.strftime("%A, %B %d, %Y at %I:%M%p ")}}:</h5>
             {{if name_of(tweeter.author) != name_of(tweeter.origauthor):}}
              <h5>Original Author:  
        {{=name_of(tweeter.origauthor)}} on {{=tweeter.origdate.strftime("%A, %B %d, %Y at %I:%M%p ")}}
    </h5>
    {{pass}}
    {{=MARKMIN(tweeter.body)}}
    {{if tweeter.picture:}}
      <img src="{{=URL('default', 'download', args=tweeter.picture)}} " width="500" height="300"/>
    {{pass}}
    {{=A('Delete' , _class = 'btn', _href = URL('default', 'delete',args=[tweeter.id], user_signature = True))}}
</div>
{{pass}}
