{{extend 'layout.html'}}
<!--HTML Page to handle viewing other profiles of users, would eventually like to add privacy settings. -->
<h2>Profile</h2>
{{=form}}
{{=A('Back' , _class = 'btn', _href = URL('default', 'tweets'))}}
<h2>Messages</h2>
{{for tweeter in tweeters:}}
    <div style="background: #56bdd6; margin-bottom: 5px; padding: 8px;">
    <h3>{{=name_of(tweeter.author)}} on {{=tweeter.date_posted}}:</h3>
    {{=MARKMIN(tweeter.body)}}
    {{if tweeter.picture:}}
        <img src="{{=URL('default', 'download', args=tweeter.picture)}}" />
    {{pass}}
</div>
{{pass}}
