{{extend 'layout.html'}}
<div style="color:black;">
<h2>Search for people to follow</h2>

{{=form}}
{{if bodies:}}
<h3>Results</h3>
<!--HTML Page to handle searching. -->

{{for user in bodies:}}
{{if user.auth_user.id != auth.user_id:}}
<div class="row">
<!-- If the user is a followee and its follower is the logged in user -->
{{if user.follows.followees and user.follows.followers == auth.user_id:}}
    one
    <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof',args=user.auth_user.id))}}</div>
    <div class="span1">
    <button onclick="ajax('{{=URL('follow',args=('unfollow',user.auth_user.id))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button>
    </div></div>
<!-- If the user is a followee and its follower is not the logged in user and the logged in users followees is not equal to the user we are check -->
{{elif user.follows.followees and user.follows.followers != auth.user_id and temp.follows.followees != user.auth_user.id:}}
two
    <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof',args=user.auth_user.id))}}</div>
    <div class="span1">
    <button onclick="ajax('{{=URL('follow',args=('follow',user.auth_user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>
    </div></div>
<!-- If the user is not a followee and not a follower -->
{{elif not user.follows.followees and not user.follows.followees:}}
three
    <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof',args=user.auth_user.id))}}</div>
    <div class="span1">
    <button onclick="ajax('{{=URL('follow',args=('follow',user.auth_user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>
    </div></div>
<!-- Everything else that doesnt fit either of those checks -->
{{else:}}
    <div class="span3 offset1">{{=A(name_of(user.auth_user), _href=URL('default', 'userprof',args=user.auth_user.id))}}</div>
    <div class="span1">
    <button onclick="ajax('{{=URL('follow',args=('follow',user.auth_user.id))}}',[],null);$(this).parent().html('Followed')">Follow</button>
    </div></div>
{{pass}}{{pass}}
{{pass}}{{pass}}
