{{extend 'layout.html'}}
<div style="color:black;">
{{=form}}
<!-- HTML Page that handles the tweets page which is made for making posts and viewing posts of those you follow -->
<script>$('textarea').css('width', '500px').css('height', '40px'); </script>
{{count = 0}}
{{for tweeter in tweeters:}}
    {{if count % 2 == 0:}}
        <div style="color:black;border-style:solid; border-color:white;margin-bottom: 3px; padding: 6px;">
        {{count = count+1}}
    {{else:}}
        <div style="color:black;border-style:solid; border-color:black;margin-bottom: 3px; padding: 6px; ">
        {{count = count+1}}
    {{pass}}
    <h5>{{=name_of(tweeter.author)}} on {{=tweeter.date_posted.strftime("%A, %B %d, %Y at %I:%M%p ")}}</h5>
            {{if name_of(tweeter.author) != name_of(tweeter.origauthor):}}
              <h5>Original Author:  
        {{=name_of(tweeter.origauthor)}} on {{=tweeter.origdate.strftime("%A, %B %d, %Y at %I:%M%p ")}}
    </h5>
    {{pass}}
    {{=MARKMIN(tweeter.body)}}
    {{if tweeter.picture:}}
        <img src="{{=URL('default', 'download', args=tweeter.picture)}} " width="500" height="300"/>
    {{pass}}
    {{if tweeter.author == auth.user_id:}}
    {{=A('Delete' , _class = 'btn', _href = URL('default', 'delete',args=[tweeter.id], user_signature = True))}}
    {{pass}}
    {{if tweeter.author != auth.user_id:}}
    {{=A('Retweet' , _class = 'btn', _href = URL('default', 'retweet',args=[tweeter.id], user_signature = True))}}
    {{pass}}
</div>

 {{pass}}
{{pass}}
