{{extend 'layout.html'}}

<!-- HTML Page that handles the tweet searching which is similar to search but searches database of tweets rather than users -->
<div style="color:black;">
<h2>Search current tweets</h2>
{{=form}}
</div>
{{count = 0}}
{{if result:}}
<script>$('textarea').css('width', '500px').css('height', '40px').css('margin-left', 'auto').css('margin-right', 'auto'); </script>
{{for tweet in result:}}
    {{if count % 2 == 0:}}
        <div style="color:black; border-style:solid; border-color:black; margin-bottom: 3px; padding: 6px">
        {{count = count+1}}
    {{else:}}
        <div style="color:black; border-style:solid; border-color:white; margin-bottom: 3px; padding: 6px">
        {{count = count+1}}
    {{pass}}
    <h5>{{=name_of(tweet.author)}} on {{=tweet.date_posted.strftime("%A, %B %d, %Y at %I:%M%p ")}}:</h5>
    {{=MARKMIN(tweet.body)}}
    {{if tweet.picture:}}
        <img src="{{=URL('default', 'download', args=tweet.picture)}} " width="500" height="300"/>
    {{pass}}
    {{=A('retweet' , _class = 'btn', _href = URL('default', 'retweet',args=[tweet.id], user_signature = True))}}
    {{if tweet.author == auth.user_id:}}
        {{=A('Delete' , _class = 'btn', _href = URL('default', 'delete',args=[tweet.id], user_signature = True))}}
    {{pass}}
</div>
{{pass}}
{{pass}}
