{{extend 'layout.html'}}
<!-- HTML Page that handles the user profiles of OTHER users -->
<h2>Profile</h2>
<div style="color:black;">
{{=form}}
<h2>Messages</h2>
{{count = 0}}
{{for twert in twerts:}}
{{if count % 2 == 0:}}
        <div style="color:black;border-style:solid; border-color:white;margin-bottom: 3px; padding: 6px;">
        {{count = count+1}}
    {{else:}}
        <div style="color:black;border-style:solid; border-color:black;margin-bottom: 3px; padding: 6px; ">
        {{count = count+1}}
    {{pass}}
<h5>{{=name_of(twert.author)}} on {{=twert.date_posted}}:</h5>
        {{if name_of(twert.author) != name_of(twert.origauthor):}}
              <h5>Original Author:  
        {{=name_of(twert.origauthor)}} on {{=twert.origdate.strftime("%A, %B %d, %Y at %I:%M%p ")}}
    </h5>
    {{pass}}
{{=MARKMIN(twert.body)}}
  {{if twert.picture:}}
    <img src="{{=URL('default', 'download', args=twert.picture)}} " width="500" height="300"/>
    {{pass}}
    {{if twert.author != auth.user_id:}}
    {{=A('Retweet' , _class = 'btn', _href = URL('default', 'retweet',args=[twert.id], user_signature = True))}}
    {{pass}}
</div>
{{pass}}
