<!-- # means id = and . means class =-->
#blah {color: red;
    text-align: center;
}

.test {color: red;
    text-align: center;
}
#top{
    border: 10px solid blue;

}
#left{
    border: 10px solid blue;
    background-color:#56bdd6;
    height:50px;width: 5px;
    

}
